* {
    margin: 0;
    padding: 0;
}

h1 {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10vh;
    width: 100%;
}


/* 
body {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10vh;
    margin: 25px;
} */

#pokemon {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    height: 175px;
}