* {
    margin: 0;
    padding: 0;
}

h1 {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10vh;
    width: 100%;
}

body {
    display: grid;
}

#pokemon {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    height: 175px;
}

h2 {
    text-align: center;
    padding: 5px;
    margin: 5px;
}